body{
    font-family: 'Raleway', sans-serif;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.logo{
    font-family: 'Raleway', sans-serif;
    display: inline-flex;
    height: 24px;
    align-items: center;
    flex-shrink: 0;
    text-decoration: none;
    margin-left: 156px;

}
.logo-part-1{
    color:  #4D5AE5;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    width: 44px;
}
.logo-part-2{
    color: #2E2F42;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    width: 71px;
}
.information{
    color: #2E2F42;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    list-style-type: none;
    text-decoration: none;
    padding-right: 40px;
}
.contacts{
    color: #434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
    list-style-type: none;
    text-decoration: none;
}
main{
    margin-top: 72px;
}